#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) PREFIX=/usr

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/duperemove PREFIX=/usr SBINDIR=/usr/sbin MANDIR=/usr/share/man

override_dh_auto_clean:
	$(MAKE) clean || true
